<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; rix</p>
                <p>&copy; contact: 0909909009</p>
            </div>
            <div class="col-md-6 text-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.twitter.com"><i class="bi bi-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
                    </li>
                    <!-- Add more social media icons as needed -->
                </ul>
            </div>
        </div>
    </div>
</footer>
